In [28]:
import pandas as pd
import numpy as np

# Q.1) Create A Series Using Dictionary Pandas

In [29]:

Student_marks={ 'Atul':85, 'Pankaj': 95, 'Gulchand': 89, 'sagar': 100}
Output= pd.Series(Student_marks)
Output

Atul         85
Pankaj       95
Gulchand     89
sagar       100
dtype: int64

# Q.2) How To Create A Copy Of The Series In Pandas?

In [30]:
Dictionary=['A','B','C','D'] 
Letters=pd.Series(Dictionary)
print('Letters :\n',Letters)
Table= pd.Series([98,23,43,45])
print('Table:\n', Table)
Copy_table=Table.copy()
Copy_table
Copy_table[1]=Dictionary[2]
print('Copy_table:\n',Copy_table)

Letters :
 0    A
1    B
2    C
3    D
dtype: object
Table:
 0    98
1    23
2    43
3    45
dtype: int64
Copy_table:
 0    98
1     C
2    43
3    45
dtype: object

# Q.3) Create a DataFrame using List

In [31]:
Dictionary=['A','B','C','D']

Df=pd.DataFrame(Dictionary, columns=['Alphabet']) 
print(Df)

  Alphabet
0        A
1        B
2        C
3        D

# Q.4) What Are The Different Ways A DataFrame Can Be Created In pandas?

---> A pandas DataFrame can be created using various inputs like âˆ’

      * Lists
      * dict
      * Series
      * Numpy ndarrays
      * Another DataFrame

## Q.5) Write a Pandas program to join the two given dataframes along rows and assign all data

In [38]:
Df1=pd.DataFrame(Dictionary, columns=['Alphabet']) 
print(Df1)

Df2=pd.DataFrame(Table, columns=['Marks'])
print(Df2)
DF1=pd.concat([Df2,Df1])
print('Combine Dataframe:\n',DF) # without axis synchronisation
DF=pd.concat([Df2,Df1],axis = 1)

DF # with axis synchronising of both df

  Alphabet
0        A
1        B
2        C
3        D
   Marks
0     98
1     23
2     43
3     45
Combine Dataframe:
    Marks Alphabet
0     98        A
1     23        B
2     43        C
3     45        D

   Marks Alphabet
0     98        A
1     23        B
2     43        C
3     45        D

## Q.6) Write a Pandas program to create a Pivot table

In [39]:
import pandas as pd
df = pd.DataFrame({'Product' : ['Carrots', 'Broccoli', 'Banana', 'Banana',
                                'Beans', 'Orange', 'Broccoli', 'Banana'],
                   'Category' : ['Vegetable', 'Vegetable', 'Fruit', 'Fruit',
                                 'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
                   'Quantity' : [8, 5, 3, 4, 5, 9, 11, 8],
                   'Amount' : [270, 239, 617, 384, 626, 610, 62, 90]})
df

    Product   Category  Quantity  Amount
0   Carrots  Vegetable         8     270
1  Broccoli  Vegetable         5     239
2    Banana      Fruit         3     617
3    Banana      Fruit         4     384
4     Beans  Vegetable         5     626
5    Orange      Fruit         9     610
6  Broccoli  Vegetable        11      62
7    Banana      Fruit         8      90

In [40]:
pivot = df.pivot_table(index =['Product'],
                       values =['Amount','Quantity'],
                       aggfunc ='sum')
print(pivot)

          Amount  Quantity
Product
Banana      1091        15
Beans        626         5
Broccoli     301        16
Carrots      270         8
Orange       610         9

## Q.7 Write a Pandas program to detect missing values of a DataFrame. Display True or False

In [48]:
DF1

   Marks Alphabet
0   98.0      NaN
1   23.0      NaN
2   43.0      NaN
3   45.0      NaN
0    NaN        A
1    NaN        B
2    NaN        C
3    NaN        D

In [49]:
DF1.isnull()

   Marks  Alphabet
0  False      True
1  False      True
2  False      True
3  False      True
0   True     False
1   True     False
2   True     False
3   True     False


## Q.8) Write a Pandas program to count the number of missing values in each column

In [50]:
DF1

   Marks Alphabet
0   98.0      NaN
1   23.0      NaN
2   43.0      NaN
3   45.0      NaN
0    NaN        A
1    NaN        B
2    NaN        C
3    NaN        D

In [46]:

DF1.isna().sum()

Marks       4
Alphabet    4
dtype: int64

## Q.9)Write a Python program to find the maximum and minimum value of array

In [51]:
DF1.max()

<ipython-input-51-694c5cc2311e>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  DF1.max()

Marks    98.0
dtype: float64

In [53]:
DF1.min()

<ipython-input-53-6c4aa7affeec>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  DF1.min()

Marks    23.0
dtype: float64


## Q.10)Write a NumPy program to repeat all the elements three times of a given array of string
['Pie' ,'pigeon' ,'Joker' ,'Cake']

In [56]:
Data=['Pie' ,'pigeon' ,'Joker' ,'Cake']

R=np.repeat(Data, 3)

Data

['Pie', 'pigeon', 'Joker', 'Cake']

In [58]:
print(R)

['Pie' 'Pie' 'Pie' 'pigeon' 'pigeon' 'pigeon' 'Joker' 'Joker' 'Joker'
 'Cake' 'Cake' 'Cake']